# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os monitores
- Divirta-se :)

#### 1. Baixando dados de ativos
    1. Baixe os dados de três ativos da sua escolha do Yahoo Finance, correspondente a um período de pelo menos 2 anos até a data mais recente.
    2. Salve esses dados para que você possa utilizá-los na próxima tarefa.

In [1]:
from pandas_datareader import data as web
import pandas_datareader as pdr

import plotly.express as px

from plotly import graph_objects
from matplotlib import pyplot

import pandas as pd
import numpy as np

import yfinance as yf
from datetime import datetime

In [20]:
%%time

ativos = ['^BVSP', 'ITUB3.SA', 'PETR4.SA']

dt_ini, dt_fim = '2022-01-01', '2024-07-01'

data = yf.download(ativos,
                   start = dt_ini,
                   end=dt_fim)

data.head()

[*********************100%%**********************]  3 of 3 completed

CPU times: total: 93.8 ms
Wall time: 104 ms

Price       Adj Close                           Close                       \
Ticker       ITUB3.SA   PETR4.SA     ^BVSP   ITUB3.SA   PETR4.SA     ^BVSP
Date
2022-01-03  16.542988  12.735184  103922.0  19.379999  29.090000  103922.0
2022-01-04  16.910038  12.783340  103514.0  19.809999  29.200001  103514.0
2022-01-05  16.568586  12.288643  101006.0  19.410000  28.070000  101006.0
2022-01-06  16.867361  12.279886  101561.0  19.760000  28.049999  101561.0
2022-01-07  17.131975  12.336801  102719.0  20.070000  28.180000  102719.0

Price            High                             Low                       \
Ticker       ITUB3.SA   PETR4.SA     ^BVSP   ITUB3.SA   PETR4.SA     ^BVSP
Date
2022-01-03  19.680000  29.219999  106125.0  19.040001  28.530001  103413.0
2022-01-04  19.850000  29.400000  104276.0  19.350000  28.910000  103096.0
2022-01-05  19.910000  29.270000  103514.0  19.379999  27.940001  100850.0
2022-01-06  19.799999  28.650000  102235.0  19.350000  27.840000  101000.0
2022-01-07  20.100000  28.290001  102719.0  19.459999  27.820000  101104.0

Price            Open                        Volume
Ticker       ITUB3.SA   PETR4.SA     ^BVSP ITUB3.SA  PETR4.SA     ^BVSP
Date
2022-01-03  19.290001  28.540001  104823.0  1289800  52704700  11128500
2022-01-04  19.350000  29.160000  103922.0   984800  51739200  11491600
2022-01-05  19.780001  29.190001  103514.0   868800  78459800         0
2022-01-06  19.709999  28.290001  101006.0  1865700  61163100  11749200
2022-01-07  19.840000  28.110001  101561.0   985600  47507600  11733200

In [6]:
# data.to_csv('dados_ativos_data.csv', index=False)

#### 2. Observando a volatilidade dentro do dia
1. Calcule a amplitude de variação do valor do ativo dentro do dia. Essa amplitude você pode calcular com um comando simples de adicionar uma coluna no Pandas: (valor máximo - valor mínimo).
2. Monte um gráfico de linha mostrando a variação dessa amplitude ao longo do período coletado, por ativo.
3. Veja se consegue identificar que ativo apresentou maior volatilidade.

In [21]:
amplitude = data[['Adj Close','High','Low']]
amplitude.head()

Price       Adj Close                            High                       \
Ticker       ITUB3.SA   PETR4.SA     ^BVSP   ITUB3.SA   PETR4.SA     ^BVSP
Date
2022-01-03  16.542988  12.735184  103922.0  19.680000  29.219999  106125.0
2022-01-04  16.910038  12.783340  103514.0  19.850000  29.400000  104276.0
2022-01-05  16.568586  12.288643  101006.0  19.910000  29.270000  103514.0
2022-01-06  16.867361  12.279886  101561.0  19.799999  28.650000  102235.0
2022-01-07  17.131975  12.336801  102719.0  20.100000  28.290001  102719.0

Price             Low
Ticker       ITUB3.SA   PETR4.SA     ^BVSP
Date
2022-01-03  19.040001  28.530001  103413.0
2022-01-04  19.350000  28.910000  103096.0
2022-01-05  19.379999  27.940001  100850.0
2022-01-06  19.350000  27.840000  101000.0
2022-01-07  19.459999  27.820000  101104.0

In [23]:
amplitude = amplitude[['Adj Close','High','Low']].stack().reset_index()
amplitude.columns = ['data', 'ativo', 'valor','alta','baixa']

amplitude.head()

        data     ativo          valor           alta          baixa
0 2022-01-03  ITUB3.SA      16.542988      19.680000      19.040001
1 2022-01-03  PETR4.SA      12.735184      29.219999      28.530001
2 2022-01-03     ^BVSP  103922.000000  106125.000000  103413.000000
3 2022-01-04  ITUB3.SA      16.910038      19.850000      19.350000
4 2022-01-04  PETR4.SA      12.783340      29.400000      28.910000

In [25]:
amplitude['amplitude'] = amplitude['alta'] - amplitude['baixa']
amplitude

,data,ativo,valor,alta,baixa,amplitude
0,2022-01-03,ITUB3.SA,16.542988,19.680000,19.040001,0.639999
1,2022-01-03,PETR4.SA,12.735184,29.219999,28.530001,0.689999
2,2022-01-03,^BVSP,103922.000000,106125.000000,103413.000000,2712.000000
3,2022-01-04,ITUB3.SA,16.910038,19.850000,19.350000,0.500000
4,2022-01-04,PETR4.SA,12.783340,29.400000,28.910000,0.490000
...,...,...,...,...,...,...
1861,2024-06-27,PETR4.SA,37.709999,37.959999,37.320000,0.639999
1862,2024-06-27,^BVSP,124308.000000,124308.000000,122642.000000,1666.000000
1863,2024-06-28,ITUB3.SA,28.072350,28.170000,27.680000,0.490000
1864,2024-06-28,PETR4.SA,38.049999,38.169998,37.709999,0.459999
1865,2024-06-28,^BVSP,123907.000000,124500.000000,123298.000000,1202.000000

In [40]:
amplitude.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1866 entries, 0 to 1865
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   data       1866 non-null   datetime64[ns]
 1   ativo      1866 non-null   object
 2   valor      1866 non-null   float64
 3   alta       1866 non-null   float64
 4   baixa      1866 non-null   float64
 5   amplitude  1866 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 87.6+ KB

In [ ]:
fig = px.line(amplitude,
              x='data',
              y='amplitude',
              color='ativo',
              title='Variação da Amplitude ao Longo do Período por Ativo')


fig.show()