# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [36]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [37]:
# conferência de linha duplicadas
sinasc.duplicated().sum()

0

In [38]:
sinasc.head(5)

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [39]:
# 2) seu código aqui

sinasc.isna()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27023,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27024,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27025,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27026,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27027,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [40]:
dados_faltantes = sinasc.isna().sum()

In [41]:
print(dados_faltantes)

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [42]:
# 3) seu código aqui
selecao_colunas = ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO',
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']
sinasc = sinasc[selecao_colunas]

In [43]:
sinasc.head(5)

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0

In [44]:
# Refazendo a contagem de missings
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [45]:
# 4) seu código aqui
sinasc['APGAR5'].isna().sum()

103

In [46]:
dados_faltantes = sinasc[sinasc['APGAR5'].isna()]
print(dados_faltantes)

       LOCNASC  IDADEMAE  ESTCIVMAE           ESCMAE  QTDFILVIVO  \
558          1        30        1.0  12 anos ou mais         0.0
2009         3        35        5.0       1 a 3 anos         6.0
2340         1        29        NaN      8 a 11 anos         2.0
2704         3        13        1.0       4 a 7 anos         1.0
2705         3        28        1.0      8 a 11 anos         4.0
...        ...       ...        ...              ...         ...
25378        3        20        1.0  12 anos ou mais         0.0
25864        3        18        5.0      8 a 11 anos         0.0
26715        1        24        5.0      8 a 11 anos         3.0
26923        1        20        5.0      8 a 11 anos         0.0
26935        1        23        5.0       4 a 7 anos         2.0

              GESTACAO GRAVIDEZ  CONSULTAS  APGAR5
558    37 a 41 semanas    Única          4     NaN
2009   32 a 36 semanas    Única          3     NaN
2340   37 a 41 semanas    Única          4     NaN
2704   32 a 36 semanas    Única          2     NaN
2705   32 a 36 semanas    Única          3     NaN
...                ...      ...        ...     ...
25378              NaN    Única          1     NaN
25864  32 a 36 semanas    Única          3     NaN
26715  37 a 41 semanas    Única          2     NaN
26923  32 a 36 semanas    Única          3     NaN
26935  37 a 41 semanas    Única          3     NaN

[103 rows x 9 columns]

In [47]:
#apagando
sinasc.dropna(subset=['APGAR5'], inplace=True)

In [48]:
sinasc['APGAR5'].isna().sum()

0

In [49]:
# 5) seu código aqui
secao_estcivmae = sinasc[sinasc['ESTCIVMAE'].isna()]
print(secao_estcivmae)

       LOCNASC  IDADEMAE  ESTCIVMAE           ESCMAE  QTDFILVIVO  \
62           1        20        NaN              NaN         1.0
68           1        31        NaN      8 a 11 anos         0.0
95           1        31        NaN       1 a 3 anos         1.0
113          1        35        NaN  12 anos ou mais         1.0
116          1        34        NaN      8 a 11 anos         1.0
...        ...       ...        ...              ...         ...
26585        1        22        NaN      8 a 11 anos         0.0
26589        1        34        NaN      8 a 11 anos         3.0
26911        1        33        NaN       4 a 7 anos         7.0
26946        1        27        NaN      8 a 11 anos         1.0
26953        1        23        NaN       4 a 7 anos         2.0

              GESTACAO GRAVIDEZ  CONSULTAS  APGAR5
62     37 a 41 semanas    Única          4     9.0
68     37 a 41 semanas    Dupla          4     9.0
95     37 a 41 semanas    Única          4     8.0
113    37 a 41 semanas    Única          4    10.0
116    37 a 41 semanas    Única          3     9.0
...                ...      ...        ...     ...
26585  37 a 41 semanas    Única          4    10.0
26589  37 a 41 semanas    Única          4    10.0
26911  37 a 41 semanas    Única          4    10.0
26946  37 a 41 semanas    Única          3     9.0
26953  37 a 41 semanas    Única          3     9.0

[315 rows x 9 columns]

In [50]:
sinasc['ESTCIVMAE'].fillna(9, inplace=True)

In [51]:
sinasc['ESTCIVMAE'].isna().sum()

0

In [52]:
sinasc['CONSULTAS'].isna().sum()

0

In [53]:
# 6) Seu código aqui
sinasc['QTDFILVIVO'].isna().sum()

1566

In [54]:
sinasc['QTDFILVIVO'].fillna(0, inplace=True)

In [55]:
sinasc['QTDFILVIVO'].isna().sum()

0

In [56]:
# 7) seu código aqui
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         310
QTDFILVIVO       0
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [57]:
visualizacao = secao_estcivmae = sinasc[sinasc['ESCMAE'].isna()]
print(visualizacao)

       LOCNASC  IDADEMAE  ESTCIVMAE ESCMAE  QTDFILVIVO         GESTACAO  \
38           1        25        1.0    NaN         3.0  37 a 41 semanas
62           1        20        9.0    NaN         1.0  37 a 41 semanas
66           1        23        5.0    NaN         1.0  37 a 41 semanas
93           1        22        5.0    NaN         2.0  37 a 41 semanas
229          1        25        1.0    NaN         1.0  37 a 41 semanas
...        ...       ...        ...    ...         ...              ...
26605        1        18        5.0    NaN         1.0  37 a 41 semanas
26765        1        30        2.0    NaN         2.0  37 a 41 semanas
26902        1        22        5.0    NaN         1.0  37 a 41 semanas
26928        1        36        1.0    NaN         3.0  32 a 36 semanas
26973        1        36        9.0    NaN         0.0  37 a 41 semanas

      GRAVIDEZ  CONSULTAS  APGAR5
38       Única          4     8.0
62       Única          4     9.0
66       Única          4    10.0
93       Única          3     9.0
229      Única          4    10.0
...        ...        ...     ...
26605    Única          4    10.0
26765    Única          4     8.0
26902    Única          3    10.0
26928    Dupla          3     9.0
26973    Única          3    10.0

[310 rows x 9 columns]

In [58]:
# Decidi fazer o tratamento substituindo os dados missings duplicando o valor para baixo.
sinasc['ESCMAE'].fillna(method = 'ffill', inplace = True)
sinasc['GESTACAO'].fillna(method = 'ffill', inplace = True)
sinasc['GRAVIDEZ'].fillna(method = 'ffill', inplace = True)

In [59]:
sinasc.isna().sum()

LOCNASC       0
IDADEMAE      0
ESTCIVMAE     0
ESCMAE        0
QTDFILVIVO    0
GESTACAO      0
GRAVIDEZ      0
CONSULTAS     0
APGAR5        0
dtype: int64

In [60]:
# 8) seu código aqui
sinasc['APGAR5']

0        10.0
1         9.0
2        10.0
3        10.0
4        10.0
         ...
27023     9.0
27024     9.0
27025    10.0
27026     9.0
27027     8.0
Name: APGAR5, Length: 26925, dtype: float64

In [69]:
sinasc.loc[(sinasc['APGAR5'] >= 8) & (sinasc['APGAR5'] <= 10), 'CATEG_APGAR5'] = 'normal'
sinasc.loc[(sinasc['APGAR5'] >= 6) & (sinasc['APGAR5'] <= 7), 'CATEG_APGAR5'] = 'asfixia_leve'
sinasc.loc[(sinasc['APGAR5'] >= 4) & (sinasc['APGAR5'] <= 5), 'CATEG_APGAR5'] = 'asfixia_moderada'
sinasc.loc[(sinasc['APGAR5'] >= 0) & (sinasc['APGAR5'] <= 1), 'CATEG_APGAR5'] = 'asfixia_severa'

In [70]:
# Frequência
sinasc['CATEG_APGAR5'].value_counts()

CATEG_APGAR5
normal              26463
asfixia_leve          320
asfixia_moderada       68
asfixia_severa         41
Name: count, dtype: int64

In [63]:
# 9) seu código aqui

# Já nomeei as variáveis com um underscor na atividade acima.

In [72]:
sinasc.sample

<bound method NDFrame.sample of        LOCNASC  IDADEMAE  ESTCIVMAE           ESCMAE  QTDFILVIVO  \
0            1        19        5.0      8 a 11 anos         0.0
1            1        29        2.0      8 a 11 anos         1.0
2            1        37        9.0      8 a 11 anos         2.0
3            1        30        5.0  12 anos ou mais         0.0
4            1        30        2.0      8 a 11 anos         1.0
...        ...       ...        ...              ...         ...
27023        1        32        2.0  12 anos ou mais         1.0
27024        1        19        1.0      8 a 11 anos         0.0
27025        1        24        2.0      8 a 11 anos         0.0
27026        1        21        2.0      8 a 11 anos         1.0
27027        1        18        5.0      8 a 11 anos         1.0

              GESTACAO GRAVIDEZ  CONSULTAS  APGAR5 CATEG_APGAR5
0      37 a 41 semanas    Única          4    10.0       normal
1      37 a 41 semanas    Única          4     9.0       normal
2      37 a 41 semanas    Única          4    10.0       normal
3      37 a 41 semanas    Única          3    10.0       normal
4      37 a 41 semanas    Única          4    10.0       normal
...                ...      ...        ...     ...          ...
27023  32 a 36 semanas    Única          4     9.0       normal
27024  37 a 41 semanas    Única          4     9.0       normal
27025  37 a 41 semanas    Única          4    10.0       normal
27026  32 a 36 semanas    Única          4     9.0       normal
27027  37 a 41 semanas    Única          4     8.0       normal

[26925 rows x 10 columns]>